<div class = "flex min-h-screen flex-col justify-evenly" >
  <div >
    <h1 class = "mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl" >How it
                                                                                                                  works? </h1 >

  </div >
  <div class = "grid grid-cols-1 gap-3 md:grid-cols-3" >
    <ng-container *ngFor = "let item of items" >

      <div class = "rounded-lg border border-gray-200 bg-emerald-700 p-6 shadow divide-y divide-gray-100" >
        <h1 class="mb-10 text-3xl text-amber-50">{{item.id}}</h1 >
        <a >
          <h5 class = "mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white" >{{item.title}}</h5 >
        </a >
        <p class = "font-normal text-white" >{{item.desc}}</p >

      </div >


    </ng-container >
  </div >
</div >




