<div class = "flex min-h-screen flex-col justify-evenly" >
  <div class = "mb-10 text-center" >
    <h1 class = "mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl" >
      Choose one of our packages </h1 >
    <h1 class = "text-4xl font-extrabold underline decoration-blue-400 decoration-8 underline-offset-3 dark:decoration-blue-600 lg:text-6xl" >
      To grow your business</h1 >

  </div >

  <div class = "grid grid-cols-1 gap-2 text-center lg:grid-cols-5 lg:text-start" >
    <div *ngFor = "let dt of cardData" >
      <app-product-card [product] = "dt" (productToAdd)="addToCart(dt)" ></app-product-card >
    </div >
  </div >
</div >





