

<div class = "h-[calc(100vh-80px)]  flex flex-col justify-center " >


  <h1 class = "mb-4 text-3xl font-poppins font-extrabold md:text-5xl lg:text-6xl" >
    <span class = "text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500" >Mention Better</span >
    And Faster.</h1 >
  <p class = "text-lg font-normal  lg:text-xl " >Using own service will help you to gain more follower\n And get more engagement for your posts as well as your account</p >


</div >
<app-product-list ></app-product-list >

<app-how-it-works></app-how-it-works>
<app-footer></app-footer>
